body { background:#fafafa; }

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
    font-family: "Playfair Display", serif;
}

.md-typeset h1,
.md-typeset h2 {
    font-weight: 700 !important;
}

.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-weight: 600 !important;
}

/* Header background image */
.md-header {
    opacity: 0.9;
    background: url("../images/croybackground.jpg") no-repeat center center / cover;
}

