name: Deploy MkDocs

on:
  push:
    branches: [ main ]
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install MkDocs and plugins
        run: |
          pip install mkdocs-material mkdocs-macros-plugin mkdocs-autorefs pymdown-extensions

      - name: Deploy via MkDocs
        run: |
          mkdocs gh-deploy --force
